<div class="main-div">
<mat-card class="z-depth center" flex="50">
  <mat-card-title>
    Login form
  </mat-card-title>
  <form class="example-form">
  <mat-card-content>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Login" >
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Enter your password" type="password">
  </mat-form-field>
  </mat-card-content>
  <mat-card-footer>
    <button   mat-raised-button color="primary">Primary</button>
  </mat-card-footer>
</form>
</mat-card>
</div>
